In [ ]:
import warnings
import datetime as dt
import itertools as it
from numpy import nan
import numpy as np
import pandas as pd

warnings.filterwarnings('ignore')
pd.set_option('display.width',       None)
pd.set_option('display.max_columns', None)

# Load

In [ ]:
Raw = pd.read_csv('Storage/Raw.csv', parse_dates=['datetime'])
Raw.head()

In [ ]:
def QUERY_SELECT(Raw, SYMBOLS, TFRAMES):
    return Raw[Raw['symbol'].isin(SYMBOLS) & Raw['tf'].isin(TFRAMES)] .reset_index(drop=1)

Query = QUERY_SELECT(Raw, SYMBOLS=['WIN$'], TFRAMES=['H1'])
Query.head()

# Data

In [ ]:
def FORMAT_SOURCE(Query):
    Src = pd.DataFrame()
    Src[['A','Z']]                      = Query[['a','z']]
    Src[['Symbol','TF']]                = Query[['symbol','tf']]
    
    Src['Datetime']                     = Query['datetime']
    Src['Date']                         = Query['datetime'].dt.date
    Src['Time']                         = Query['datetime'].dt.time

    Src[['Ticks','Volume']]             = Query[['tick_volume','real_volume']]
    Src[['Open','High','Low','Close']]  = Query[['open','high','low','close']]
    Src[['Price']]                      = Query[['close']]

    Src['Change']   = (Src['Close'] - Src['Open'])
    Src['Hilo']     = (Src['High']  - Src['Low'])
    return Src 

Src = FORMAT_SOURCE(Query)
Src.head()

In [ ]:
def CALCULATIONS(Src):
    Calc = pd.DataFrame(Src)
    Calc['T'] = Calc.groupby('Date', sort=0)['Time'].rank()

    # ================ Current Signals ================ #
    Calc[f'Change Pos'] = (Calc['Change'] >= 0)
    Calc[f'Change Neg'] = (Calc['Change'] <  0)

    # ================ Forward Indicators ================ #
    FUTS = [1, 2]
    for x in FUTS:  Calc[f'Hilo +{x}']       =  Calc.groupby('Date', sort=0)[f'Hilo'].shift(-x)
    for x in FUTS:  Calc[f'Change +{x}']     =  Calc.groupby('Date', sort=0)[f'Change'].shift(-x)
    
    # ================ Forward Signals ================ #
    for x in FUTS:  Calc[f'Change +{x} Pos'] = (Calc[f'Change +{x}'] >= 0)
    for x in FUTS:  Calc[f'Change +{x} Neg'] = (Calc[f'Change +{x}'] <  0)
    return Calc

Calc = CALCULATIONS(Src)
Calc.head()

# Stats

In [66]:
pd.DataFrame([
    { 'Condition':'Change Pos', **Calc[(Calc['T']==1) & Calc['Change Pos']][['Change +1 Pos','Change +1 Neg']].mean().mul(100).round(1) }, 
    { 'Condition':'Change Neg', **Calc[(Calc['T']==1) & Calc['Change Neg']][['Change +1 Pos','Change +1 Neg']].mean().mul(100).round(1) }, 
])

    Condition  Change +1 Pos  Change +1 Neg
0  Change Pos           50.9           49.1
1  Change Neg           48.6           51.4

In [67]:
pd.DataFrame([
    { 'Condition':'Change Pos', **Calc[(Calc['T']==1) & Calc['Change Pos']]['Change +1'].describe().T.round(1).astype(int) },
    { 'Condition':'Change Neg', **Calc[(Calc['T']==1) & Calc['Change Neg']]['Change +1'].describe().T.round(1).astype(int) },
])

    Condition  count  mean  std   min  25%  50%  75%   max
0  Change Pos    639    20  814 -2665 -454   22  520  5561
1  Change Neg    607    24  737 -2483 -437  -31  471  2739

In [68]:
pd.DataFrame([
    { 'Condition':'Change Pos', **Calc[(Calc['T']==1) & Calc['Change Pos']]['Hilo +1'].describe().T.round(1).astype(int) },
    { 'Condition':'Change Neg', **Calc[(Calc['T']==1) & Calc['Change Neg']]['Hilo +1'].describe().T.round(1).astype(int) },
])

    Condition  count  mean  std  min  25%   50%   75%   max
0  Change Pos    639  1199  534  279  825  1115  1445  6210
1  Change Neg    607  1128  484  332  781  1033  1378  3253

# Snippets

In [ ]:
def CALCULATIONS(Src):
    Calc = pd.DataFrame(Src)
    Calc['T'] = Calc.groupby('Date', sort=0)['Time'].rank()

    # ================ Current Indicators ================ #
    Calc['Change']   = (Calc['Close'] - Calc['Open'])
    Calc['Hilo']     = (Calc['High']  - Calc['Low'])

    # ================ Current Signals ================ #
    Calc[f'Change Pos'] = (Calc['Change'] >= 0)
    Calc[f'Change Neg'] = (Calc['Change'] <  0)

    # ================ Forward Indicators ================ #
    FUTS = [1, 2]
    for x in FUTS:  Calc[f'Hilo +{x}']       =  Calc.groupby('Date', sort=0)[f'Hilo'].shift(-x)
    for x in FUTS:  Calc[f'Change +{x}']     =  Calc.groupby('Date', sort=0)[f'Change'].shift(-x)
    
    # ================ Forward Signals ================ #
    for x in FUTS:  Calc[f'Change +{x} Pos'] = (Calc[f'Change +{x}'] >= 0)
    for x in FUTS:  Calc[f'Change +{x} Neg'] = (Calc[f'Change +{x}'] <  0)
    return Calc


pd.DataFrame([
    { 'Condition':'Change Pos', **Calc[(Calc['T']==1) & Calc['Change Pos']][['Change +1 Pos','Change +1 Neg']].mean() }, 
    { 'Condition':'Change Neg', **Calc[(Calc['T']==1) & Calc['Change Neg']][['Change +1 Pos','Change +1 Neg']].mean() }, 
])

pd.DataFrame([
    { 'Condition':'Change Pos', **Calc[(Calc['T']==1) & Calc['Change Pos']]['Change +1'].describe().T },
    { 'Condition':'Change Neg', **Calc[(Calc['T']==1) & Calc['Change Neg']]['Change +1'].describe().T },
])

pd.DataFrame([
    { 'Condition':'Change Pos', **Calc[(Calc['T']==1) & Calc['Change Pos']]['Hilo +1'].describe().T },
    { 'Condition':'Change Neg', **Calc[(Calc['T']==1) & Calc['Change Neg']]['Hilo +1'].describe().T },
])